*{
    color:white;
}
header{
    background-color: #222629;
}
header hr{
    background-color: #86c232;
    height: 4px;
    width:100px;
    margin: auto;
    text-align: center;
    border: none;
}

body{
    background-color: #222629 !important;
}

.Header{
    padding: auto;
}

/* -------------- common css --------------*/

#btn_submit_genre{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 10px;
}

.Container{
    margin-top: 100px;
}

.Container p {
    text-align: center;
}

.Container button{
    display: block;
    margin: 0 auto;
}

body .vhl{
    background-color: #6B6E70;
    height: 4px;
    width: 200px;
    display: block;
    margin: 15px auto ;
    border: none;
}

.butn{
    color: #86c232;
    font-size: 20px;
    border: 2px solid #86c232;
    border-radius: 50px;
    padding: 10px 50px;
    margin: 15px;
    cursor: pointer;
    background-color: transparent;
}

.butn:hover{
    background-color: #6B6E70;
}


@media screen and (min-width  : 600px) {
    body .vhl {
        width: 4px;
        height: 200px;

    }
    .Container{
        padding: 10px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .top_movies_section , .random_movie_section{
        width: 370px;
        margin: 20px;
    }

}