* {
    color: white;
}

header {
    background-color: #222629;
}

header hr {
    background-color: #86c232;
    height: 4px;
    width: 100px;
    margin: auto;
    text-align: center;
    border: none;
}

body {
    background-color: #222629 !important;
}

.Header {
    padding: auto;
}

/* -------------- common css --------------*/

.movie_description {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    justify-content: space-evenly;
}

/*for mobile*/
.results_section {
    width: auto;
    background-color: #474B4F;
    border-color: white;
    border: white solid 1px;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;

}

.movie_description img {
    object-fit: contain;
    max-width: 100%;
    margin: auto;
}

.text_descriptor {
    margin: 10px;
}

.text_descriptor h3{
    color :#86c232;
}

.result_container{
    display: flex;
    margin: auto;
    width: auto;
    align-items: center;
    justify-items: center;
}

.butn{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: transparent;
    border-color:  #61892f;
    margin: 10px;
    position: relative;
}

.butn i {
    text-align: center;
    color:  #86c232;
}

#back {
    text-align: start;
    font-size: 35px;
}
#shuffle{
    text-align: center;
    font-size: 25px;
}

/*for desktop*/
@media screen and (min-width: 600px) {
    .results_section {
        width: 560px;
        margin: auto;
        margin-top: 50px;
    }

    .movie_description img {
        width: 150px;
        height: auto;
        margin: 10px;
    }

    .text_descriptor {
        text-align: start;
    }
    .result_container{
        width: 560px;
    }
}

@media screen and (min-width: 800px) {
    .results_section  {
        width: 650px;
    }
    .result_container{
        width: 650px;
    }
}