*{
    color:white;
}
header{
    background-color: #222629;
}
header hr{
    background-color: #86c232;
    height: 4px;
    width:100px;
    margin: auto;
    text-align: center;
    border: none;
}

body{
    background-color: #222629 !important;
}

.Header{
    padding: auto;
}

/* -------------- common css --------------*/

#choice_type{
    text-align: center;
    font-size: 40px;
}

.user_section {
    margin: 30px;
    padding: auto;
}

.Container {
    top: 50%;
    left: 50%;
    margin: 30px;
}


input[type="checkbox"] {
    display: none;
}

.Container label {
    color: #86c232;
    font-size: 20px;
    border: 2px solid #86c232;
    border-radius: 10px;
    padding: 10px 50px;
    margin: 15px;
    cursor: pointer;
}

input[type="checkbox"]:checked+label {
    background-color: #86c232;
    color: white;
}



.select_btn{
    margin: 0;
}

/*----- move next or back css -----*/



.move_actions{
    padding: 30px;
}

.butn{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: transparent;
    border-color:  #61892f;
    margin-right : 10px;
    margin-left : 10px;
    position: relative;
}

.butn i {
    text-align: center;
    color:  #86c232;
}

#back{
    text-align: start;
    font-size: 35px;
}
#search{
    font-size: 30px;
    text-align: end;
}