<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>WHAT TO WATCH</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<header>
  <div class="Header text-center">
    <h1 class="main_title display-1"><b>WHAT TO WATCH ?</b></h1>
    <h3 class="display-2"><small class="text-muted">Just let us chose for you</small></h3>
  </div>
</header>

<body>
  <div calss="forma">
    <form class="selector" action="http://localhost:3000/" method="post">
      <p>Enter Number :</p>
      <p><input type="number" name="rm"></input></p>
      <p><input type="submit" value="submit1" name="action1"></input></p>
    </form>
  </div>
  <div class="genre_from">
    <form class="row g-3" action="http://localhost:3000/" method="post">
      <div class="col-auto">
        <label class="form-label h2"> Select your favorite genre :</label>
      </div>
      <div class="col-sm">
        <select class="form-select form-select-lg mb-2"  name="genre">
          <option value="Drama">Drama</option>
          <option value="Drama">Action</option>
          <option value="Drama">Music</option>
          <option value="Drama">Drama</option>
          <option value="Drama">Drama</option>
        </select>
      </div>
      <div id="btn_submit_genre" class="col-auto">
        <button type="submit" class="btn btn-primary mb-2" value="submit2" name="action2" >Submit</button>
      </div>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
</body>

</html>